@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* animação de entrada do logo */
@keyframes logo-enter {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

/* animação de saída do logo */
@keyframes logo-exit {
  0% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
}

/* utilitários para usar no JSX */
.animate-logo-enter {
  animation: logo-enter 1s ease-in-out forwards;
}
.animate-logo-exit {
  animation: logo-exit 0.5s ease-in-out forwards;
}


html {
  scroll-behavior: smooth;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* src/app/global.css */
body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/images/background.png');
}
